{% extends "base.html" %}

{% block content %}
<form class="hero-form" action="/home" method="post">
    <div class="container-fluid p-3 mb-5">
        <div class="m-5 d-flex"> <span  class="p-3 material-symbols-outlined">
            pin_drop
            </span>
            <input type="text" required name="location" class="form-control" id="location" placeholder="Search for a location">
        </div>
        <hr>

        <div class="row">
            <!-- <div class="col-6">
                <p class="text-center">EV CAR</p>
                
                <div class="form-check">
            
         
                    <input type="radio" class="btn-check"  value="EV car" name="options" id="option1" autocomplete="off" checked>
                    <label class="btn" for="option1"><img class="img-fluid" src="../static/images/3173433.jpg" alt=""></label>
                     
                    </label>
                  </div>
            </div> -->
            <!-- <div class="col-6">
                <p class="text-center">FUEL CAR</p>

               
       <div class="form-check">
        <input type="radio" class="btn-check"  value="Fuel" name="options" id="option2" autocomplete="off">
        <label class="btn" for="option2"><img class="img-fluid" src="../static/images/12145022_Wavy_Eco-01_Single-08 2.svg" >
        </label>
        </label>
    </div>

            </div> -->
            <hr class="mt-5">
        </div>
        
        <div class="mb-3 row">
            <h1 class="my-3">Get Reservation</h1>
            <h3 class="mb-5">$5 per hour </h3>

            <div class="form-group mb-3">
                <label for="start-time">Date</label>
                <input type="date" class="form-control" id="dateInput" name="Date" required>
            </div>

           <div> <div class="form-group mb-3 ">
            <label for="start-time">Start Time:</label>
            <input type="time" class="form-control time" id="start-time" name="start-time" required>
        </div>
    
        <div class="form-group mb-3">
            <label for="end-time">End Time:</label>
            <input type="time" class="form-control time" id="end-time" name="end-time" required>
        </div></div>
         

        <button type="submit" class="mt-3 btn btn-primary">check slots</button>

        </div>
    </div>
    </form>
<script>
    function updateDateInput() {
        const dateInput = document.getElementById("dateInput");
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        dateInput.value = `${year}-${month}-${day}`;
    }

    // Function to update the time input
    function updateTimeInput() {
        const timeInput = document.querySelectorAll(".time")
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        timeInput.value = `${hours}:${minutes}`;
    }

    // Update the date and time inputs immediately
    updateDateInput();
    updateTimeInput();

    // Update the date and time inputs every second (1000 milliseconds)
    setInterval(updateDateInput, 1000);
    setInterval(updateTimeInput, 1000);

let dataset = ['Silvassa',"vapi"]
let sortedNames = dataset.sort();
//reference
let input = document.getElementById("location");
//Execute function on keyup
input.addEventListener("keyup", (e) => {
  //loop through above array
  //Initially remove all elements ( so if user erases a letter or adds new letter then clean previous outputs)
  removeElements();
  for (let i of sortedNames) {
    //convert input to lowercase and compare with each string
    if (
      i.toLowerCase().startsWith(input.value.toLowerCase()) &&
      input.value != ""
    ) {
      //create li element
      let listItem = document.createElement("li");
      //One common class name
      listItem.classList.add("list-items");
      listItem.style.cursor = "pointer";
      listItem.setAttribute("onclick", "displayNames('" + i + "')");
      //Display matched part in bold
      let word = "<b>" + i.substr(0, input.value.length) + "</b>";
      word += i.substr(input.value.length);
      //display the value in array
      listItem.innerHTML = word;
      document.querySelector(".list").appendChild(listItem);
    }
  }
});
function displayNames(value) {
  input.value = value;
  removeElements();
}
function removeElements() {
  //clear all the item
  let items = document.querySelectorAll(".list-items");
  items.forEach((item) => {
    item.remove();
  });
}
</script>
{% endblock %}
    