{% extends "base.html" %} {% block content %} {% if parking_filled %}
<div
  class="alert alert-danger mt-3 d-flex align-items-center justify-content-center"
  role="alert"
>
  <div>
    <h3 class="text-center">Parking is Full</h3>
  </div>
</div>
{% endif %} {% if not location%}
<div
  class="alert alert-danger mt-3 d-flex align-items-center justify-content-center"
  role="alert"
>
  <div>
    <h3 class="text-center">Invalid Location</h3>
  </div>
</div>
{% endif %}
<form class="hero-form" action="/home" method="post">
  <div class="container-fluid p-3 mb-5">
    <div class="m-5">
      <input
        type="text"
        autocomplete="off"
        id="locationInput"
        required
        name="location"
        class="p-3 form-control"
        id="location"
        placeholder="Search for a location"
      />
    </div>

    <div class="row">
      <hr class="mt-5" />
    </div>

    <div class="mb-3 row">
      <h1 class="my-3">Get Reservation</h1>
      <h3 class="mb-5">₹{{ price }} per hour</h3>

      <div class="form-group mb-3">
        <label for="start-time">Date</label>
        <input
          type="date"
          class="form-control"
          id="dateInput"
          name="Date"
          required
        />
      </div>

      <div>
        <div class="form-group mb-3">
          <label for="start-time">Start Time:</label>
          <input
            type="time"
            class="form-control time"
            id="start-time"
            name="start-time"
            required
          />
        </div>

        <div class="form-group mb-3">
          <label for="end-time">End Time:</label>
          <input
            type="time"
            class="form-control time"
            id="end-time"
            name="end-time"
            required
          />
        </div>
      </div>

      <button type="submit" class="mt-3 btn btn-primary">check slots</button>
    </div>
  </div>
</form>
<script>
  function updateDateInput() {
    const dateInput = document.getElementById("dateInput");
    const now = new Date();
    const year = now.getFullYear();
    const month = (now.getMonth() + 1).toString().padStart(2, "0");
    const day = now.getDate().toString().padStart(2, "0");
    dateInput.value = `${year}-${month}-${day}`;
  }

  // Function to update the time input
  function updateTimeInput() {
    const timeInput = document.querySelectorAll(".time");
    const now = new Date();
    const hours = now.getHours().toString().padStart(2, "0");
    const minutes = now.getMinutes().toString().padStart(2, "0");
    timeInput.value = `${hours}:${minutes}`;
  }

  updateDateInput();
  updateTimeInput();

  setInterval(updateTimeInput, 1000);

  const locationsList = ["SILVASSA", "VAPI"];

  const inputField = document.getElementById("locationInput");
  inputField.addEventListener("input", function () {
    autocomplete(inputField.value);
  });

  function autocomplete(input) {
    // Close any already open lists of autocompleted values
    closeAllLists();

    // If the input field is empty, do not show any suggestions
    if (!input) {
      return;
    }

    const autocompleteContainer = document.createElement("div");
    autocompleteContainer.setAttribute("class", "autocomplete-items");

    inputField.parentNode.appendChild(autocompleteContainer);

    const matches = locationsList.filter((location) =>
      location.toLowerCase().includes(input.toLowerCase())
    );

    matches.forEach((match) => {
      const item = document.createElement("div");
      item.innerHTML = "<strong>" + match.substr(0, input.length) + "</strong>";
      item.innerHTML += match.substr(input.length);
      item.innerHTML += "<input type='hidden' value='" + match + "'>";
      item.addEventListener("click", function () {
        inputField.value = this.getElementsByTagName("input")[0].value;
        closeAllLists();
      });
      autocompleteContainer.appendChild(item);
    });
  }

  function closeAllLists() {
    const autocompleteItems =
      document.getElementsByClassName("autocomplete-items");

    for (let i = 0; i < autocompleteItems.length; i++) {
      autocompleteItems[i].parentNode.removeChild(autocompleteItems[i]);
    }
  }

  // Close the autocomplete list when clicking outside the input field
  document.addEventListener("click", function (e) {
    if (e.target !== inputField) {
      closeAllLists();
    }
  });
</script>
{% endblock %}
