{% extends "base.html" %} {% block content %} {% if username_taken %}
<div
  class="alert alert-danger mt-3 d-flex align-items-center justify-content-center"
  role="alert"
>
  <div>
    <h3 class="text-center">Username was already taken</h3>
  </div>
</div>
{% endif %}

<div class="container profile">
  <h1 class="font-bold text-center my-5">Profile Page</h1>

  <div class="row mb-3 profile-photo mb-5">
    <div class="col-md-3 profile-photo">
      <img
        src="../static/images/6769264_60111.jpg"
        alt="Profile Photo"
        class="img-fluid rounded-circle"
      />
    </div>
    <h2 class="text-center mt-3">{{ username }}</h2>
  </div>
  <hr />
  <!-- Change Username Section -->
  <div class="card mb-5">
    <div class="card-header">Change Username</div>
    <div class="card-body">
      <form action="/profile" method="post">
        <div class="form-group">
          <label class="my-3" for="newUsername">New Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="newUsername"
            placeholder="Enter new username"
          />
        </div>
        <button type="submit" class="btn my-3 btn-primary">change</button>
      </form>
    </div>
  </div>
  <hr />

  <button style="width: 20%; margin: auto" class="btn btn-danger my-5 px-5">
    <a href="/logout" class="logout"><h3>Log out</h3></a>
  </button>
</div>
{% endblock %}
