{% extends "base.html" %}

{% block content %}



<!-- <div id="data-display"></div> -->

<form method="post" action="/reserve"  class="form">
    

    {% if  Button %}
    <div class="alert m-3 alert-danger" role="alert">
       Parking is full. back to <a href="/home">home</a>
      </div>
      {% endif %}

<div class="container-fluid my-5" id="main-reservation">
<div class="parking-container">
    <div class="data-box container-fluid">
        <h3 class="m-para font-bold">Parking Status</h3>
        <p class="total-para">Total parking:</p><span class="total-data">{{total_parking|length}}</span>
        <p class="avail-para">Available: </p><span class="avail-data">{{ total_parking|length - (parking_list|length + reserved|length)}}</span>
        <div class="location">
                <p>Your Location:</p><i class="fas fa-map-marker-alt"></i><p>Silvassa</p>
        </div>
    </div>
    <div class="display-box">
        {% for parking in total_parking %}

        {% if parking[2] in reserved%}
        <div class="lot-box inactive text-center disabled"  style="background-color: gray;">{{ parking[2] }} reserved </div>
        {% elif parking[2] in parking_list %} 
        <div  class="lot-box inactive disabled">{{ parking[2] }}</div>
        {% else %}
        <div  class="lot-box">{{ parking[2] }}</div>
        {% endif %}
        {% endfor %}
        <input type="text" class="input d-none" name="parking_slot">
    </div>
    {% if not Button %}
    <div class="container-fluid row reserve-button">
        <button type="submit" onclick="sendData()"  class="btn mb-3 mt-3 px-5 btn-primary">Book slot</button>
    
    {% else %}
    
        <button type="submit" onclick="sendData()" disabled  class="btn mb-3 mt-3 px-5 btn-primary">Book slot</button>

    </div>
    {% endif %}
    <button  class="btn mb-5 mt-3 px-5 btn-primary"><a href="/home">Back</a></button>

</div>

</form>





<script>


    

   const seats = document.querySelectorAll('.lot-box');
   const parking_slot = document.getElementsByClassName("value")
    let selectedSeat = null;

    seats.forEach(seat => {
        seat.addEventListener('click', () => {
            if (seat.classList.contains('selected')) {
                alert('This seat is already booked.');
            } else {
                if (selectedSeat) {
                    selectedSeat.classList.remove('selected');
                }
                seat.classList.add('selected');
                selectedSeat = seat;
                parking_slot.value = selectedSeat.innerHTML;
                console.log(parking_slot.value);
            }
        });
    });

    function sendData() {
        const inputValue =parking_slot.value;
        fetch('/bill', {
           method: 'POST',
           headers: {
             'Content-Type': 'application/json',
           },
           body: JSON.stringify({ data: inputValue }),
        })
        .then(response => response.json())
        .then(data => console.log('Success:', data))
        .catch((error) => console.error('Error:', error));
    }

      
</script>

{% endblock %}
    